<h1 class="page-title">Grupos</h1>
        <div class="group-access-key" id="group-access-key"><a id="access-key-link">Possui uma CHAVE?</a><div id="access-key-container" class="access-key-container"><div class="arrow-top"><div></div>
        </div><div class="access-key-box" id="access-key-box"><input type="text" id="access-key"><br><span id="access-box-message">Digite sua chave de acesso</span></div></div></div>
<table class="table table-striped group-list">

</table>