<div class="group-show-header">
    <h1 class="page-title"><%= name %></h1>
</div>
<div class="group-show-members group-list clearfix">

</div>
<div class="group-show-header">
    <h2>Professores e Monitores</h2>
</div>
<div class="group-show-teachers group-list clearfix">

</div>

