<div class="problems">
    <a href="/huxley/problem/index?resolved=false" style="text-decoration: none;">
        <h3>82</h3>
    </a>
    <b>Problemas a <span class="ui-wmarker">serem resolvidos</span></b>
</div>